body {
    background-color: #4f46e5;
}

h1, h2, h3, h4, h5, h6, label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #4f46e5;
    font-family: 'Segoe UI', sans-serif;
}

button {
    background-color: whitesmoke;
    color: #4f46e5;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

select {
    border: none;
    outline: none;
}